<!Doctype html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script> 
	$(document).ready(function(){
	
	var resp = "";
	//var nombre=document.getElementById("nombre").value; 
  
  getAnalisis();
    
  function getAnalisis(){ 
		$.ajax({
                type: "GET",
                url: "/analizar",
                success: function(data) {
						
                        resp=`<table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Media HR</th>
                                    <th scope="col">Min HR</th>
                                    <th scope="col">Max HR</th>
                                    <th scope="col">SD HR</th>
                                    <th scope="col">Media RR</th>
                                    <th scope="col">ESTADO RR</th>
                                    <th scope="col">Min RR</th>
                                    <th scope="col">Max RR</th>
                                    <th scope="col">SD RR</th>
                                    <th scope="col">ESTADO SDRR</th>
                                    <th scope="col">pRR50</th>
                                    <th scope="col">ESTADO pRR50</th>
                                  </tr>
                                </thead>
                                <tbody>`;

                          data.forEach(o => {

                          var estRR = "";
                          var estRRcolor = "";
                          var estSDRR = "";
                          var estSDRRcolor = "";
                          var estprr50 = "";
                          var estprr50color = "";


                          if(o.meanRR < 750) {
                            estRR = "HIGH";
                            estRRcolor = "green";
                          }
                          else if(o.meanRR >= 750 && o.meanRR <= 900) {
                            estRR = "MODERATE";
                            estRRcolor = "yellow";
                          }
                          else {
                            estRR = "LOW";
                            estRRcolor = "red";
                          }

                          if(o.sdRR < 50) {
                            estSDRR = "HIGH";
                            estSDRRcolor = "green";
                          }
                          else if(o.sdRR >= 50 && o.sdRR <= 100) {
                            estSDRR = "MODERATE";
                            estSDRRcolor = "yellow";
                          }
                          else {
                            estSDRR = "LOW";
                            estSDRRcolor = "red";
                          }

                          if(o.prr50 < 0.3) {
                            estprr50 = "HIGH";
                            estprr50color = "green";
                          }
                          else if(o.prr50 >= 0.3) {
                            estprr50 = "LOW";
                            estprr50color = "red";
                          }

                          resp+=`
                            <tr>
                              <td>${o.nombre}</td>
                              <td>${o.meanHR}</td>
                              <td>${o.minHR}</td>
                              <td>${o.maxHR}</td>
                              <td>${o.sdHR}</td>
                              <td>${o.meanRR}</td>
                              <td bgcolor=${estRRcolor}>${estRR}</td>
                              <td>${o.minRR}</td>
                              <td>${o.maxRR}</td>
                              <td>${o.sdRR}</td>
                              <td bgcolor=${estSDRRcolor}>${estSDRR}</td>
                              <td>${o.prr50}</td>
                              <td bgcolor=${estprr50color}>${estprr50}</td>
                            </tr>`;
                          });

                        resp+=`</tbody>
                            </table>`;
            
                        //resp+=`${data[0].nombre} - ${data[0].hr} - ${data[0].rr}`;
                        $("#res").html(resp);
                }
            });
    }
		
  });
</script>
</head>
<body>
	<br>
  
	<h2 class="text-center">ANÁLISIS DE DATOS Y CENTROIDES</h2>
	
	<div id="res"></div>	

</body>
</html>
