<!Doctype html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script> 
	$(document).ready(function(){
	
	var resp = "";
	//var nombre=document.getElementById("nombre").value; 
  
  getAnalisis();
    
  function getAnalisis(){ 
		$.ajax({
                type: "GET",
                url: "/analizar",
                success: function(data) {
						
                        resp=`<table border='1'>`;

                          data.forEach(o => {                         
                          resp+=`
                            <tr>
                              <td>Nombre:</td>  <td>${o.nombre}</td>
                              <td>HR:</td>  <td>${o.hr}</td>
                              <td>RR:</td>  <td>${o.rr}</td>
                            </tr>`;
                          });

                        resp+=`</table>`;
            
                        //resp+=`${data[0].nombre} - ${data[0].hr} - ${data[0].rr}`;
                        $("#res").html(resp);
                }
            });
    }
		
  });
</script
</head>
<body>
	<h2>{{tit}}</h2>
	<br><br>
	
	<div id="res"></div>	

</body>
</html>
