<html>
  <head>
    <meta charset="utf-8">
    <title>Proyecto final STR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  </head>
  <body style="background: url('{{ url_for('static', filename='heart.png') }}') repeat; background-size: 500px">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Proyecto final STR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/iniciar">Iniciar medición</a></li>
              <li class="nav-item"><a class="nav-link" href="/historico">Datos históricos</a></li>
              <li class="nav-item"><a class="nav-link" href="/analisis">Análisis de sesiones</a></li>
              <li class="nav-item"><a class="nav-link" href="/centro">Centroides</a></li>
            </ul>
        </div>
    </nav>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>